# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
.venv/
!.env*.example

# Code coverage
coverage

__pycache__/
*.pyc
*.pyo
*.pyd

node_modules/
my-app/
.DS_Store
*.log